body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--secondary-color);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  .italics {
    font-style: italic;
  }

  .presentation {
    text-align: center;
  }

  footer a {
    color: var(--primary-font-color);
    text-decoration: none;
  }

  .partnerLogo {
    height: 200px;
  }

  .partner:first-child img {
    margin-left: 46px;
  }

  .partner {
    height: 200px;
    width: 253px;
    background-color: white;
  }

  .partners {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
  }

  @media (max-width: 1012) {
    .partners {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 506px) {
    .partners {
      grid-template-columns: 1fr;
    }
  }